@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none !important;
}

.btn_container::after {
  content: "";
  width: 0;
  height: 100%;
  background: linear-gradient(374deg, red, orange);
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: left;
  border-radius: 50px;
  transition: all 0.3s linear;
  z-index: 0;
}
.btn_container:hover::after {
  width: 100%;
}

@media (max-width: 369px) {
  .btn_container {
    display: none;
  }
}

/* Animate text*/
.target {
  width: 100%;
  font-weight: bold;
  animation: rightToLeft 42s linear infinite;

  /* animation: rightToLeft 4.5s linear infinite; */
}

@keyframes rightToLeft {
  0% {
    transform: translateX(400%);
  }
  100% {
    transform: translateX(-10%);
  }
}

.target_1 {
  width: 100%;
  font-weight: bold;
  animation: LeftToRight 42s linear infinite;

  /* animation: rightToLeft 4.5s linear infinite; */
}

@keyframes LeftToRight {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(400%);
  }
}
/* Animate text END*/

@media (max-width: 520px) {
  .target {
    animation: rightToLeft 22s linear infinite;

    /* animation: rightToLeft 4.5s linear infinite; */
  }
  .target_1 {
    animation: LeftToRight 22s linear infinite;

    /* animation: rightToLeft 4.5s linear infinite; */
  }
}
