@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none !important;
}

body {
  height: 400vh;
}

@media (max-width: 369px) {
  .btc_container {
    display: none;
  }
}

/* FOOTER */
.target {
  width: 100%;
  font-weight: bold;
  animation: rightToLeft 42s linear infinite;

  /* animation: rightToLeft 4.5s linear infinite; */
}

@keyframes rightToLeft {
  0% {
    transform: translateX(400%);
  }
  100% {
    transform: translateX(-10%);
  }
}
/* FOOTER END*/

@media (max-width: 520px) {
  .target {
    animation: rightToLeft 16s linear infinite;

    /* animation: rightToLeft 4.5s linear infinite; */
  }
}
